{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "default/_macros.html" as macros %}
{% block title %}幸福的饺子{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>你好,
            {% if current_user.is_authenticated %}
                {{ current_user.username }}
            {% else %}
                游客
            {% endif %}!
        </h1>
    </div>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    <ul class="posts">
        {% for post in posts %}
            <li>
                <div class="profile-thumbnail">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    <img src="{{ post.author.gravatar(size=40) }}" alt="{{ post.author.username }}" class="img-rounded profile-thumbnail">
                </a>
            </div>
                <div class="post-date">{{ moment(post.timestamp).format("YYYY年MM月DD日HH时") }}</div>
                <div class="post-author">
                    <a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
                </div>
                <div class="post-body">{{ post.body }}</div>
            </li>
        {% endfor %}
    </ul>
    {% include 'default/_posts.html' %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}
{% endblock page_content %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{#{{ pagedown.include_pagedown(local_js='//cdn.bootcss.com/pagedown/1.0/Markdown.Sanitizer.min.js') }}#}
{% endblock scripts %}